{{ partial "header.html" . }}

    <div class="container">
      <div class="row">
        <div class="col-md-2" style="background-color: #B12C1B;">
          {{ partial "sidebar.html" . }}
        </div>
        
        <div class="col-md-9 main">

          <div class="row" style="background-color: white;">
            <div class="col-md-12 text-center">
              <h3 class="row" style="background-color: #B12C1B; color: white;">Archivo por año/número</h3>
            </div>
          </div>

          {{ .Content }}

          <div class="row">
          {{ range $key, $value := .Data.Pages.ByDate }}
            {{ $numero := replaceRE "^0*" "" .Params.Numero }}
            <div class="col-md-2">
              <a href="{{ .Permalink }}">Número {{ $numero }}</a>
              <a href="{{ .Permalink }}"><img src="{{ .Site.Params.FilesURL }}thumbnail/{{ .Params.Numero }}.jpg" class="img-responsive" alt="Tapa del número {{ $numero }}" /></a>
              <p>{{ .Date.Format .Site.Params.DateFormat }}</p>
            </div>
            <div class="col-md-4">
              <p class="small" style="margin-top: 25px;">{{ .Summary }}</p>
            </div>
            {{ if eq (mod $key 2) 1 }}
          </div>
          <div class="row">
            {{ end }}
          {{ end }}
          </div>

        </div>

        <div class="col-md-1" style="background-color: #B12C1B;">
          <h4 style="color: white;" class="text-center">Años</h4>
          <a href="/numeros/1970/" class="btn btn-default btn-block" style="background-color: #B12C1B; color: white;"><b>1970</b></a>
          <a href="/numeros/1971/" class="btn btn-default btn-block" style="background-color: #B12C1B; color: white;"><b>1971</b></a>
          <a href="/numeros/1972/" class="btn btn-default btn-block" style="background-color: #B12C1B; color: white;"><b>1972</b></a>
          <a href="/numeros/1973/" class="btn btn-default btn-block" style="background-color: #B12C1B; color: white;"><b>1973</b></a>
          <a href="/numeros/1974/" class="btn btn-default btn-block" style="background-color: #B12C1B; color: white;"><b>1974</b></a>
          <a href="/numeros/1975/" class="btn btn-default btn-block" style="background-color: #B12C1B; color: white;"><b>1975</b></a>
          <a href="/numeros/1976/" class="btn btn-default btn-block" style="background-color: #B12C1B; color: white;"><b>1976</b></a>
          <a href="/numeros/1977/" class="btn btn-default btn-block" style="background-color: #B12C1B; color: white;"><b>1977</b></a>
          <a href="/numeros/1978/" class="btn btn-default btn-block" style="background-color: #B12C1B; color: white;"><b>1978</b></a>
          <a href="/numeros/1979/" class="btn btn-default btn-block" style="background-color: #B12C1B; color: white;"><b>1979</b></a>
          <a href="/numeros/1980/" class="btn btn-default btn-block" style="background-color: #B12C1B; color: white;"><b>1980</b></a>
          <a href="/numeros/1981/" class="btn btn-default btn-block" style="background-color: #B12C1B; color: white;"><b>1981</b></a>
          <a href="/numeros/1982/" class="btn btn-default btn-block" style="background-color: #B12C1B; color: white;"><b>1982</b></a>
          <a href="/numeros/1983/" class="btn btn-default btn-block" style="background-color: #B12C1B; color: white;"><b>1983</b></a>
          <a href="/numeros/1984/" class="btn btn-default btn-block" style="background-color: #B12C1B; color: white;"><b>1984</b></a>
          <a href="/numeros/1985/" class="btn btn-default btn-block" style="background-color: #B12C1B; color: white;"><b>1985</b></a>
          <a href="/numeros/1986/" class="btn btn-default btn-block" style="background-color: #B12C1B; color: white;"><b>1986</b></a>
          <a href="/numeros/1987/" class="btn btn-default btn-block" style="background-color: #B12C1B; color: white;"><b>1987</b></a>
          <a href="/numeros/1988/" class="btn btn-default btn-block" style="background-color: #B12C1B; color: white;"><b>1988</b></a>
          <a href="/numeros/1989/" class="btn btn-default btn-block" style="background-color: #B12C1B; color: white;"><b>1989</b></a>
          <a href="/numeros/1990/" class="btn btn-default btn-block" style="background-color: #B12C1B; color: white;"><b>1990</b></a>
          <a href="/numeros/1991/" class="btn btn-default btn-block" style="background-color: #B12C1B; color: white;"><b>1991</b></a>
          <a href="/numeros/1992/" class="btn btn-default btn-block" style="background-color: #B12C1B; color: white;"><b>1992</b></a>
          <a href="/numeros/1993/" class="btn btn-default btn-block" style="background-color: #B12C1B; color: white;"><b>1993</b></a>
          <a href="/numeros/1994/" class="btn btn-default btn-block" style="background-color: #B12C1B; color: white;"><b>1994</b></a>
          <a href="/numeros/1995/" class="btn btn-default btn-block" style="background-color: #B12C1B; color: white;"><b>1995</b></a>
          <a href="/numeros/1996/" class="btn btn-default btn-block" style="background-color: #B12C1B; color: white;"><b>1996</b></a>
          <a href="/numeros/1997/" class="btn btn-default btn-block" style="background-color: #B12C1B; color: white;"><b>1997</b></a>
          <a href="/numeros/1998/" class="btn btn-default btn-block" style="background-color: #B12C1B; color: white;"><b>1998</b></a>
          <a href="/numeros/1999/" class="btn btn-default btn-block" style="background-color: #B12C1B; color: white;"><b>1999</b></a>
          <a href="/numeros/2000/" class="btn btn-default btn-block" style="background-color: #B12C1B; color: white;"><b>2000</b></a>
          <a href="/numeros/2001/" class="btn btn-default btn-block" style="background-color: #B12C1B; color: white;"><b>2001</b></a>
          <p>&nbsp;</p>
        </div>
        
      </div>
    </div>

{{ partial "footer.html" . }}