{{ partial "header.html" . }}

    <div class="container">
      <div class="row">
        <div class="col-md-2" style="background-color: #B12C1B;">
          {{ partial "sidebar.html" . }}
        </div>
        
        <div class="col-md-10 main">

          <h1>Número {{ strings.TrimLeft "0" .Params.Numero }}</h1>

          <div class="row">
            <div class="col-md-3">
              {{ $anio := .Date.Format "2006"}}

              <img src="{{ .Site.Params.FilesURL }}tapa/{{ .Params.Numero }}.jpg"  class="img-responsive"/>
              <a href="/numeros/{{ $anio }}"><p>{{ .Date.Format .Site.Params.DateFormat }}</p></a>
              <p><a href="{{ .Site.Params.FilesURL }}pdf/{{ .Params.Numero }}.pdf">Descargar PDF</a></p>

              {{ if .Params.Poster1 }}
              <p><a href="{{ .Site.Params.FilesURL }}pdf/{{ .Params.Numero }}-poster-1.pdf">Descargar póster {{ .Params.Poster1 }}</a></p>
              {{ end }}
              {{ if .Params.Poster2 }}
              <p><a href="{{ .Site.Params.FilesURL }}pdf/{{ .Params.Numero }}-poster-2.pdf">Descargar póster {{ .Params.Poster2 }}</a></p>
              {{ end }}
              {{ if .Params.Poster3 }}
              <p><a href="{{ .Site.Params.FilesURL }}pdf/{{ .Params.Numero }}-poster-3.pdf">Descargar póster {{ .Params.Poster3 }}</a></p>
              {{ end }}
            </div>
            <div class="col-md-9">
              {{ .Content }}

              {{ $params := .Params }}
              {{ range $key, $value := $.Site.Taxonomies }}
              {{ if isset $params $key }}
              <section>
                <header>
                  <!--a href="{{ $.Site.BaseURL }}{{ $key | urlize }}/">{{ $key | upper }}</a-->
                  <strong>{{ $key | upper }}</strong>
                </header>
                <div>
                  <ul class="terms">
                    {{ range (index $params $key) }}
                    <li style="display: inline-block;"><a href="{{ $.Site.BaseURL }}{{ $key | urlize }}/{{ . | urlize }}/">{{ . }}</a></li>
                    {{ end }}
                  </ul>
                </div>
              </section>
              {{ end }}
              {{ end }}

            </div>

           </div>

        </div>
        
      </div>
    </div>

{{ partial "footer.html" . }}
