{{ partial "header.html" . }}

    <div class="container">
      <div class="row">
        <div class="col-md-2" style="background-color: #B12C1B;">
          {{ partial "sidebar.html" . }}
        </div>
        
        <div class="col-md-10 main">

          {{ range .Data.Pages }}
          <div>
              <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
              <p>{{ .Summary }}</p>
          </div>
          {{ end }}

        </div>
        
      </div>
    </div>

{{ partial "footer.html" . }}