          <a href="/"><img src="/images/logo-150.jpg" class="img-responsive" alt="{{ .Site.Title }}"></a>
          <ul class="nav nav-sidebar">
            <li><a href="/acerca/archivo-historico/" class="btn btn-default btn-block" style="background-color: #B12C1B; color: white; margin-top: 15px;">Archivo histórico</a></li>
            <li><a href="/numeros/1972/" class="btn btn-default btn-block" style="background-color: #B12C1B; color: white; margin-top: 15px;">Listado por año</a></li>
            <li><a href="/utilidades/buscador/" class="btn btn-default btn-block" style="background-color: #B12C1B; color: white; margin-top: 15px;">Buscador</a></li>
            <li><a href="/acerca/staff/" class="btn btn-default btn-small btn-block" style="background-color: #B12C1B; color: white; margin-top: 15px;">Staff</a></li>
            <li><a href="/acerca/ayer-y-hoy/" class="btn btn-default btn-block" style="background-color: #B12C1B; color: white; margin-top: 15px;">Pelo: ayer y hoy</a></li>
            <li><a href="/utilidades/otros-materiales/" class="btn btn-default btn-block" style="background-color: #B12C1B; color: white; margin-top: 15px;">Otros materiales</a></li>
            <li><a href="/acerca/contacto/" class="btn btn-default btn-block" style="background-color: #B12C1B; color: white; margin-top: 15px;">Contacto</a></li>
          </ul>
          <hr />
          <small style="color: white;">Desarrollado por</small>
          <img src="/images/logo-unq.jpg" alt="Universidad Nacional de Quilmes" />
          <p>&nbsp;</p>
