{{ partial "header.html" . }}

    <div class="container">
      <div class="row">
        <div class="col-md-2" style="background-color: #B12C1B;">
          {{ partial "sidebar.html" . }}
        </div>
        
        <div class="col-md-7 main">
          <h3 style="text-align: center;"><strong>En 1970 nacía la Revista Pelo</strong></h3>
          
          <p>&nbsp;</p>
          
          <div class="pull-left" style="padding-right: 15px;">
            <img style="height: 220px; width: auto;" src="{{ .Site.Params.FilesURL }}tapa/001.jpg" alt="Revista Pelo, primera tapa">
          </div>

          <div class="pull-right">
            <img style="height: 220px; width: auto;" src="{{ .Site.Params.FilesURL }}tapa/508.jpg" alt="Revista Pelo, última tapa"> 
          </div>

          <div>
            <h4>Su presencia durante más de treinta años comunicó, fortaleció, articuló y consolidó al Rock Argentino desde su fundación misma, y abrió la posibilidad a la construcción de características personalísimas.</h4>
            
            <h4>Vinculó todo el movimiento  entre sí pero, además, con el resto del mundo, de las culturas, de los movimientos.  Entrevistas icónicas y legendarias a Ian Anderson, a John Lennon; pero también la generación del BARock.</h4>

            <hr>
            
            <h4>Testigo y protagonista de la historia del rock en Argentina, Pelo sigue andando.  Ahora como revisión, como fuente, como nexo entre el pasado y el futuro, habitando el presente.</h4>
          </div>

          <hr>

          <div>ACA VA OTRA COSA</div>

        </div>
        
        <div class="col-md-3" style="background-color: #FFCC66;">
          <h4 style="padding-top: 10px">Ver más</h4>
          
          <div style="position: relative; padding-bottom: 56.25%; padding-top: 20px; height: 0; overflow: hidden;">
            <iframe src="//www.youtube.com/embed/EQ2o6PkHocs"
            style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" allowfullscreen frameborder="0" title="Digitalización de la Revista Pelo"></iframe>
          </div>
          <p>&nbsp;</p>

          <div style="position: relative; padding-bottom: 56.25%; padding-top: 20px; height: 0; overflow: hidden;">
            <iframe src="//www.youtube.com/embed/6UfrOm1lYig"
            style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" allowfullscreen frameborder="0" title="Se digitalizó el archivo completo de Pelo, histórica revista de rock"></iframe>
          </div>
          <p>&nbsp;</p>
        </div>

      </div>
    </div>

{{ partial "footer.html" . }}