{{ partial "header.html" . }}

    <div class="container">
      <div class="row">
        <div class="col-md-2" style="background-color: #B12C1B;">
          {{ partial "sidebar.html" . }}
        </div>
        
        <div class="col-md-10 main">
          <div class="row" style="background-color: white;">
            <div class="col-md-12 text-center">
              <h3 class="row" style="background-color: #B12C1B; color: white;">BUSCADOR</h3>
            </div>
          </div>

          <h4>Material digitalizado</h4>

          <h5>Acceso a PDFs de todos los números y posters disponibles <a href="http://files.revistapelo.com.ar/pdf/" target="_blank">aquí</a>.</h5>

          <h5>También están disponibles imágenes en baja resolución de las tapas <a href="http://files.revistapelo.com.ar/tapa/" target="_blank">aquí</a>.</h5>

          <hr>

          <h4>Puedes listar el material por:</h4>
          {{ $params := .Params }}
          {{ range $key, $value := $.Site.Taxonomies }}
          <section>
            <header>
              <a href="{{ $.Site.BaseURL }}{{ $key | urlize }}/">{{ $key | upper }}</a>
            </header>
          </section>
          {{ end }}

          <hr>

<h4>Criterios de etiquetado para la búsqueda de información.</h4>

<p>La descripción de las revistas reconstruye el contenido de cada edición, y nombra los GÉNEROS según el siguiente criterio:</p>

<p><strong>Entrevista:</strong> texto produccido en el marco de un encuentro formal a partir de un formato de preguntas y respuestas realizadas.</p>

<p><strong>Reportaje:</strong> artículo que relata una situación y acompaña con dichos textuales de los personajes que refiere (“citas” de un diálogo).</p>

<p><strong>Nota:</strong> análisis, relato, opinión o crónica, crítica de obras, biografía, u otros; referida a temas, artistas o grupos.
Muchas veces, en la descripción de la edición, en lugar de figurar el nombre de la nota se ha consignado la temática o el artista de que se trata, a fin de evitar confusiones y vaguedades.</p>

<p><strong>Secciones:</strong> han variado a través de los años, pero suelen reiterarse en varias ediciones.</p>

<p>Esa permanencia es irregular pero cada una se configura con claras características que los lectores podrán apreciar al revisar los números en que aparecen.</p>

<p>Es posible que un artista sea nombrado en una sección en notas breves, y la información no sea de gran relevancia.</p>

<p>&nbsp;</p>

<p>Se ha trabajado, además ordenando según las siguientes CATEGORÍAS</p>

<p><strong>Artistas:</strong> incluye a artistas, grupos, productores, sellos grabadores, editoriales y todo protagonista de las producciones periodísticas.</p>

<p><strong>Medios:</strong> Programas de radio, televisión, películas que son objeto de notas. 
Cuando se habla “video” se refiere en la mayoría de los casos a películas (en varios números corresponden incluso a una sección).</p>

<p><strong>Discos:</strong> son críticas o descripciones de discos de lanzamiento, pero también figuran allí los que fueron objeto de nota, ya sea por lanzamiento, aniversario o alguna particularidad noticiable.
Cuando la palabra clave aparezca en una edición es posible que esté en cualquiera de esas dos categorías, o en ambas.</p>

<p><strong>Colaboradores:</strong> es el staff que declara la revista, e incluso firmas que obran en las notas. 
En caso de no figurar todos los que han participado de ese número se debe a que no está la información consignada en ese número, tanto para el caso de notas como de fotografías.</p>

<p><strong>Películas, Eventos y Espacios:</strong> Según la época de la revista estos elementos han tenido mayor o menor protagonismo en las notas, por ello es que se encuentran categorizadas.
Su aparición dependerá de la publicación.</p>

          <hr>

          <h4>Sobre las normas editoriales de la revista PELO</h4>

          <p>Hoy en día, las revistas suelen cumplir ciertas normas editoriales que permiten un mejor aprovechamiento de sus materiales y una rápida ubicación del lugar, fecha y consecutividad numérica de su publicación.</p>
          <p>La PELO comenzó a publicarse en momentos donde esas características no eran una exigencia para las revistas comerciales o populares. Es así que los lectores podrán encontrar algunas inconsistencias y ausencias llamativas entre los datos editoriales de la publicación, propios de esa informalidad en los requerimientos de edición:</p>

        <ul>
          <li>La revista no lleva numeración de páginas.</li>
          <li>En algunos casos no aparece ni en tapa, ni en el interior los datos de publicación (fecha, por ej.) ni de directorio (staff).</li>
          <li>Incluye el sumario en la tapa.</li>
        </ul>


        </div>
        
      </div>
    </div>

{{ partial "footer.html" . }}